<div class="wrapper">
    <div class="jumbotron text-center">
		<!-- LOGO -->
		<div class="logo">
			<img src="../assets/logo.png" alt="MFH Records">
		</div>

		<!-- CONTENT -->
		<h1 class="display-4 text-white">
			UNDER CONSTRUCTION
		</h1>	
		<h5 class="text-white">
			Why don't you keep an eye on our social media? 
		</h5>
		<div class="social">
			<a href="https://www.facebook.com/MFHRecordsCl/" class="fa fa-facebook"></a>
			<a href="https://www.youtube.com/channel/UCSqSnSkjbJTyX15o4gJAgVQ" class="fa fa-youtube"></a>
			<a href="https://www.instagram.com/mfhrecordscl/" class="fa fa-instagram"></a>
			<a href="https://soundcloud.com/mfhrecordscl" class="fa fa-soundcloud"></a>
		</div>
	</div>
</div>

